<section class="caruselSection">
    <div class="sliderJs">
        {% for slider in section.blocks %}
         
            <div class="sliderJsItem__wrap">
            <div class="sliderJsItem">
                <div class="sliderJsItem__info">
                    <h3 class="sliderJsItem__title">
                        {{slider.settings.text_title}}
                    </h3>
                    <p class="sliderJsItem__text">
                        {{slider.settings.text_desc}}
                    </p>
                </div>
                <div class="sliderJsItem__img">
                    <img src="{{ slider.settings.imager | img_url: 'master' }}" alt="">
                </div>
            </div>
        </div>
        {% endfor %}
        
        

    </div>

</section>
{% schema %}
{
    "name":"Carousel",
    "tag":"section",
    
    "blocks": [
	         {
               "type": "slide",
               "name": "slide",
               "settings": [
		         {
                   "type": "image_picker",
                   "id": "imager",
                   "label": "Carousel Image"
                 },
                 {
                   "type": "text",
                   "id": "text_title",
                   "label": "Carousel title"
                 },
                  {
                   "type": "text",
                   "id": "text_desc",
                   "label": "Carousel description"
                 },
                 {
                   "type": "url",
                   "id": "product_url",
                   "label": "Carousel link"
                 }

               ]
             }
             ]
}
{% endschema %}