
            <div class="storySection__wrap">
                <div class="storySection__item">
                    <div class="storySection__text">
                        Terrelique was born to manifest the trust, love, and ease that accompany feeling not only welcome, but actively included in a space.
                    </div>
                    <img class="storySection__img" src="{{ 'story.jpg' | asset_url }}">
                </div>
                <div class="storySection__item">
                    <div class="storySection__text">
                        House slippers (for everyone and their guests) are an ancient practice in Turkey and numerous other countries such as Japan, Malaysia and Korea. When inviting guests over, hosts use this word to let them know they can truly breathe and make themselves at home.
                    </div>
                    <img class="storySection__img" src="{{ 'story.jpg' | asset_url }}">
                </div>
                <div class="storySection__item">
                    <div class="storySection__text">
                        We believe a shoe-free home empowers us to reclaim, curate, and share the experience of our sacred space.
                        <br><br>
                        We work exclusively with a family owned factory in Gaziantep, Turkey to support the country's tradition in sharing it with you.
                    </div>
                    <img class="storySection__img" src="{{ 'story.jpg' | asset_url }}">
                </div>
                <div class="storySection__item">
                    <div class="storySection__text">Welcome to the shoe-free home movement.
                        <br><br>
                        xx Terrelique
                        <br><br>
                        We are woman owned and operated. Thanks for supporting our small business.</div>
                    <img class="storySection__img" src="{{ 'story.jpg' | asset_url }}">
                </div>
            </div>
            <a href="" class="btn"><span class="text">SHOP SLIPS</span> <span class="decor" ></span></a>