
            <div class="storySection__wrap">
            {% for item in section.blocks %}
                <div class="storySection__item">
                    <div class="storySection__text">
                        {{ item.settings.desc }}
                    </div>
                    <img class="storySection__img" src="{{ item.settings.image | img_url: 'master' }}">
                </div>
            {% endfor %}
               
            </div>

{% schema %}
    
   
    {
        "name": "Our Story",
        "blocks": [{
            "name": "story",
            "type": "slide",
            "settings": [{
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "textarea",
                    "id": "desc",
                    "label": "Description"
                }

            ]
        }]

    }

{% endschema %}
            {% comment %} <a href="" class="btn"><span class="text">SHOP SLIPS</span> <span class="decor" ></span></a> {% endcomment %}