<section class="whySection">
    <div class="dflex">
        <div class="whySection__item">

            <img class="whySection__img" src="{{ 'B0A83EB4-3C79-43DE-B4B8-7F3C168205082.jpg' | asset_url }}" alt="">
        </div>
        <div class="whySection__item">
            <h2 class="whySection__title section__title">why terrelique?</h2>
            <div class="whyItem">
                <div class="whyItem__img whyItem__img_1">
                    <svg width="64" height="64">
                        <use xlink:href="#wordSvg"/>
                    </svg>
                </div>

                <h3 class="whyItem__title">
                    Ancient Tradition
                </h3>
                <p class="whyItem__text">
                    Inspired by the ancient global tradition of taking shoes off inside, Terrelique was born to manifest the trust, love and ease from feeling actively included in a space.
                </p>
            </div>
            <a href="" class="btn"><span class="text">OUR STORY</span> <span class="decor" ></span></a>
            <div class="whyItem">
                <div class="whyItem__img whyItem__img_2">
                    <svg width="64" height="59">
                        <use xlink:href="#heartSvg"/>
                    </svg>
                </div>
                <h3 class="whyItem__title">
                    Showing Respect
                </h3>
                <p class="whyItem__text">
                    Leaving shoes at the door when entering someone's home is a universal sign of respect and cleanliness. Terreliques stop dirt from tracking in and upgrade your look at the same time!
                </p>
            </div>
            <div class="whyItem">
                <div class="whyItem__img whyItem__img_3">
                    <svg width="68" height="68">
                        <use xlink:href="#houseSvg"/>
                    </svg>
                </div>
                <h3 class="whyItem__title">
                    Reclaim Your Space
                </h3>
                <p class="whyItem__text">
                    Keeping house slippers for guests lets them step into the special, curated experience of your space. Terreliques empower you to reclaim and elevate your unique sanctuary.
                </p>
            </div>
            <div class="whyItem">
                <div class="whyItem__img whyItem__img_4">
                    <svg width="88" height="88">
                        <use xlink:href="#tapkiSvg"/>
                    </svg>
                </div>
                <h3 class="whyItem__title">
                    Inside Out
                </h3>
                <p class="whyItem__text">
                    We love a house shoe, but Terreliques can take you anywhere, anytime. Choose your own adventure!
                </p>
            </div>
        </div>
    </div>
</section>