{{ content_for_index }}

{% section 'slider' %}

{% section 'brands' %}
{% section 'catalog_home'%}
{% section 'whysection'%}
{% section 'carousel' %}
<section class="feedSection">
    <img class="feedSection__img" src="{{ 'terrelique-34_2X.jpg' | asset_url }}" alt="" />
    <svg class="feedSection__svg" width="149" height="26">
            <use xlink:href="#stars"/>
        </svg>
    <p class="feedSection__text">
        “Terrelique was born to manifest the trust, love, and ease that accompany feeling not only welcome, but actively included in a space.”
        <span>-Sarah P.</span>
    </p>

</section>
{%section 'foto' %}
{% section 'subscribe' %}
