<section class="prSection">
                <h2 class="product__title">
                    {{ page.title }}
                </h2>
                <div class="prSectionInfo">
                    <div class="prSectionInfo__text">
                        {{ page.content }}
                    </div>
                    <img src="{{ 'story.jpg' | asset_url }}" alt="" class="prSectionInfo__img prSectionInfo__img_un">
                    <img src="{{ 'story.jpg' | asset_url }}" alt="" class="prSectionInfo__img prSectionInfo__img_dos">
                </div>
        </section>
        {% section 'subscribe' %}