 <section class="faqSection">
            <div class="faqSection__img">
                <h2 class="product__title">
                    need help with something?
                </h2>
                <br>
                <a href="" class="btn"><span class="text">SHOP SLIPS</span> <span class="decor" ></span></a>
            </div>
            <div class="faq__info">
                <h3>I already have slippers - what makes these different?</h3>
                <h3>I'd like to return or exchange my slips. What now?</h3>
                <p>Our waterproof slippers are easy to clean - simply spot clean, or throw in the washing machine. Some customers even swear by the dishwasher!</p>
                <h3>How do I care for my slips?</h3>
                <p>Our waterproof slippers are easy to clean - simply spot clean, or throw in the washing machine. Some customers even swear by the dishwasher!</p>
            </div>
            <div class="txtCntr">
                <a href="" class="btn"><span class="text">SHOP SLIPS</span> <span class="decor" ></span></a>
            </div>
        </section>
        {% section 'subscribe' %}