 <section class="faqSection">
            <div class="faqSection__img">
                <h2 class="product__title">
                    need help with something?
                </h2>
                <br>
                <a href="" class="btn"><span class="text">SHOP SLIPS</span> <span class="decor" ></span></a>
            </div>
            <div class="faq__info">
                {{ page.content }}
            </div>
            <div class="txtCntr">
                <a href="" class="btn"><span class="text">SHOP SLIPS</span> <span class="decor" ></span></a>
            </div>
        </section>
        {% section 'subscribe' %}