@import './style.scss';
@import "./go-cart.scss";
.shopify-policy__container {
    padding: 10%;
    max-width: 100%!important;
    text-align: center;
}

.productPrice__quantity button {
    height: 100%;
    font-size: 18px;
    color: #365B58;
}

.shopify-policy__title h1 {
    margin: 0 0 75px;
    display: inline-block;
    position: relative;
    margin-bottom: 60px;
    font-family: 'Termina';
    font-size: 48px;
    letter-spacing: 0.025rem;
}

.shopify-policy__title h1::before {
    left: 50%;
    transform: translateX(-50%);
    width: 73%;
    background: url(./politicaDecor.svg) no-repeat;
}

.shopify-policy__body {
    margin: auto;
    padding: 50px;
    border: 2px solid #365B58;
    text-align: left;
}

.shopify-policy__body p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.08rem;
}

.shopify-policy__body h3 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}

.d-none {
    display: none;
}

.new-sub-select {
    position: relative;
    width: 100%;
    margin-bottom: 13px;
    padding: 8px 14px;
    border: 1px solid #365b58;
    border-radius: 3px;
    font-size: 11px;
    letter-spacing: .175rem;
    font-weight: 700;
    background: 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .4s;
}

.contact-form {
    max-width: 95%;
    margin: auto;
}

.contact-form h2 {
    font-size: 26px;
}

.contact-form input {
    width: 85%;
}

.contact-form p {
    margin-bottom: 30px;
    line-height: 1.4;
}

.contact-form {
    max-width: 715px;
    padding: 50px 0 40px;
    margin: auto;
    background: #EBEFA5;
    border: 2px solid #365B58;
    text-align: center;
}

.contact-form h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 75px;
    font-family: 'Termina';
    font-size: 35px;
}

.contact-form h2::before {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    height: 23px;
    width: 80%;
    background: url(./titleDecor.svg);
    background-size: cover;
}

.contact-form p {
    max-width: 370px;
    margin: 0 auto 13px;
    letter-spacing: 0.08rem;
}

.contact-form input {
    display: block;
    width: 437px;
    height: 45px;
    margin: 0 auto 45px;
    padding: 0 30px;
    background: #FFF9EF;
    border: 1.5px solid #294744;
    border-radius: 3px;
}

.contact-form :-moz-placeholder {
    color: rgba(41, 71, 68, 0.4);
    letter-spacing: 0.19rem;
    font-size: 12px;
    font-family: Lato;
}

.contact-form ::-moz-placeholder {
    color: rgba(41, 71, 68, 0.4);
    letter-spacing: 0.19rem;
    font-size: 12px;
    font-family: Lato;
}

.contact-form :-ms-input-placeholder {
    color: rgba(41, 71, 68, 0.4);
    letter-spacing: 0.19rem;
    font-size: 12px;
    font-family: Lato;
}

.contact-form ::-webkit-input-placeholder {
    color: rgba(41, 71, 68, 0.4);
    letter-spacing: 0.19rem;
    font-size: 12px;
    font-family: Lato;
}

.contact-form .btn span.decor {
    background: #FFF9EF;
}

.stamped-summary-actions-clear,
.stamped-summary-actions-mobile-filter,
.stamped-summary-actions-newquestion,
.stamped-summary-actions-newreview {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    border-radius: 0px!important;
    border: 1px solid #fff9ef;
    font-weight: normal;
}

.stamped-summary-actions-newquestion:before,
.stamped-summary-actions-newreview:before,
.stamped-summary-actions-mobile-filter i:before,
.stamped-summary-actions-clear:before {
    color: #365b58;
    content: none!important;
}

[data-count="0"] .stamped-summary-starrating i:before {
    font-size: 30px!important;
    color: #fff9ef;
}

.stamped-container ul.stamped-tabs li.active {
    color: white!important;
    background: none!important;
}

ul.stamped-tabs li.active {
    border-color: #365b58 !important;
    color: white !important;
}

li#tab-questions[data-count][data-new-tab]:after,
li#tab-reviews[data-count]:after {
    content: '' attr(data-count);
    background: none!important;
    padding: 2px 5px;
    margin-left: 10px;
}

.stamped-form-label {
    font-size: 14px;
    line-height: 20px;
    color: white;
}

.fa-star,
.fa-star-o,
.fa-star-half-o,
.stamped-fa-star,
.stamped-fa-star-o,
.stamped-fa-star-half-o {
    color: white !important;
}

[data-widget-style=profile] div.stamped-summary-ratings {
    // width: 100%!important;
    // padding: 0;
    // margin: 0;
    // margin-top: 5px;
    // margin-left: 21px;
    color: white!important;
    // border: none!important;
}

.fa-check-circle-o:before,
.fa-share-alt:before,
.fa-thumbs-down:before,
.fa-thumbs-up:before,
.stamped-fa-check-circle-o:before,
.stamped-fa-share-alt:before,
.stamped-fa-thumbs-down:before,
.stamped-fa-thumbs-up:before {
    font-size: 18px;
}

[data-widget-style=profile] .stamped-summary-text-1 {
    background: inherit!important;
    font-size: 35px!important;
    padding: 0!important;
}

.stamped-summary-actions-clear,
.stamped-summary-actions-mobile-filter,
.stamped-summary-actions-newquestion,
.stamped-summary-actions-newreview {
    font-size: 18px!important;
    color: white!important;
    border: 1px solid #ccd6e0;
    padding: 15px 30px !important;
    border-radius: 0px!important;
    text-decoration: uppercase!important;
    font-weight: 700;
    box-shadow: 2px 3px 5px 0 #8888886b!important;
}

[data-widget-style=profile] .created {
    float: right;
    font-size: 18px!important;
    color: white!important;
}

.stamped-form-label {
    font-size: 18px!important;
    color: white!important;
}

div.stamped-container ul.stamped-tabs,
div.stamped-container ul.stamped-tabs li {
    font-size: 21px!important;
}

#stamped-button-submit,
input.stamped-button.stamped-button-primary.button.button-primary.btn.btn-primary {
    background: inherit!important;
    color: #fff;
    border: 1px solid white!important;
    width: auto;
    font-size: 18px!important;
    padding: 10px 20px;
}

.stamped-container[data-widget-show-product-variant=true] .stamped-review-product a,
.stamped-container[data-widget-show-product-variant=true] .stamped-review-variant a {
    text-decoration: none!important;
    color: white!important;
}

.fa-check-circle-o:before,
.fa-share-alt:before,
.fa-thumbs-down:before,
.fa-thumbs-up:before,
.stamped-fa-check-circle-o:before,
.stamped-fa-share-alt:before,
.stamped-fa-thumbs-down:before,
.stamped-fa-thumbs-up:before {
    font-size: 18px!important;
    color: white;
}

.fa-check-circle-o,
.fa-share-alt,
.fa-thumbs-down,
.fa-thumbs-up,
.stamped-fa-check-circle-o,
.stamped-fa-share-alt,
.stamped-fa-thumbs-down,
.stamped-fa-thumbs-up {
    color: white!important;
    padding: 0;
}

.stamped-review-footer {
    font-size: 14px!important;
}

.stamped-review .author {
    font-size: 18px!important;
}

#stamped-main-widget {
    margin: 0 !important;
}

.summary-rating-bar div[data-rating="0"] {
    color: #294744!important;
}