<footer>
    <div class="footer__wrap">
        <ul class="footer__nav">
            <li><a href="">OUR STORY</a></li>
            <li><a href="">MOODS</a></li>
            <li><a href="">SACRED SPACES</a></li>
            <li><a href="">WHOLESALE</a></li>
            <li><a href="">PR INQUIRIES</a></li>
            <li><a href="">RETURNS & EXCHANGES</a></li>
            <li><a href="">FAQ</a></li>
        </ul>
        <div class="footer__navDop">
            <a href="">CONTACT US</a> <br>
            <a href="mailto:info@terrelique.com">info@terrelique.com</a>
        </div>
        <a href="/" class="footerLogo">terrelique</a>
        <div class="dflex">
            <span class="copy">©terrelique 2020-2021</span>
            <ul class="nav__politic">
             {% for link in section.settings.header_mobile.links %}
            <li>
                <a href="{{ link.url }}"{% if link.current %} class="active" {%endif%} >{{ link.title }}</a>

            </li>
            {% endfor %}
               
            </ul>
            <div class="footerInfo">
                <svg width="37" height="38">
                    <use xlink:href="#instaSvg"/>
                </svg>
                <span class="diz">Website designed by Olivia Hunter</span>
            </div>
        </div>
    </div>

</footer>
